.text-red {
    color: red;
}
.text-blue {
    color: blue;
}

.text-green {
    color: green;
}


.even-row {
  background-color: #f9f9f9; /* light gray */
}

.odd-row {
  background-color: #e6f7ff; /* light blue */
}

ul {
  list-style-type: none; /* remove default bullets */
  padding: 0;
}

li {
  padding: 6px 10px;
}

.even-item {
  background-color: #f9f9f9; /* light gray */
}

.odd-item {
  background-color: #e6f7ff; /* light blue */
}
